body{
  background: #f9f9f9;
}

html,
body,
.full-height{
  height: 100%;
}

.items-list{
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  .item{
    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 1rem;
  }

  .badge{
    font-size: 100%;
    font-weight: 300;
  }

  .icon{
    cursor: pointer;
    margin-left: 5px;
    font-weight: 900;
  }
}

@import 'app/components/app/app.component';
@import 'app/pages/login/login.component';
@import 'app/pages/dashboard/dashboard.component';
