<navbar></navbar>
<!--todo move styles into scss files-->
<!--todo add validation to each inputs-->
<main class="page-content">
  <div class="container">
    <div class="row">
      <h5 class="w-100">Создание проекта</h5>

      <form class="form create-project-form w-50"
            (ngSubmit)="onCreateProject()"
            [formGroup]="createProjectForm"
            novalidate>
        <div class="row form-group">
          <div class="col-12 form-group">
            <input type="text"
                   class="form-control"
                   formControlName="name"
                   placeholder="Название"
                   name="projectTitle"/>
          </div>
          <div class="col-12">
            <textarea type="text"
                      class="form-control"
                      placeholder="Документация"
                      formControlName="description"
                      name="projectDocs">
            </textarea>
          </div>
        </div>

        <div formArrayName="details">
          <div class="row form-group"
               *ngFor="let detail of details.controls; let i = index"
               style="margin-left: 50px">
            <h6 class="w-100">Добавление деталей</h6>
            <div [formGroupName]="i">
              <div class="col-12 form-group">
                <input type="text"
                       class="form-control"
                       formControlName="name"
                       placeholder="Название детали"
                       name="detailTitle"/>
              </div>

              <div class="col-12 form-group">
              <textarea type="text"
                        class="form-control"
                        formControlName="description"
                        placeholder="Технология"
                        name="projectDocs">
              </textarea>
              </div>

              <div formArrayName="operations">
                <div class="row form-group"
                     *ngFor="let currentTask of getOperation(i).controls; let i = index"
                     style="margin-left: 50px">
                  <h6 class="w-100">Добавление Операций</h6>

                  <div [formGroupName]="i">
                    <div class="col-12 form-group">
                      <input type="text"
                             class="form-control"
                             formControlName="name"
                             placeholder="Название "
                             name="detailTitle"/>
                    </div>
                    <div class="col-12 form-group">
                      <select name="detailEquipment"
                              formControlName="machine"
                              class="form-control">
                        <option value=""
                                disabled
                                selected>Выберете оборудование
                        </option>
                        <option *ngFor="let machine of machines" [value]="machine._id">{{machine.name}}</option>
                      </select>
                    </div>

                    <div class="col-12 form-group">
                      <textarea type="text"
                                formControlName="description"
                                class="form-control"
                                placeholder="Технология"
                                name="projectDocs">
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-right">
                  <button type="button"
                          (click)="addOperation(i)"
                          class="btn btn-success">Добавить операцию
                  </button>
                </div>
              </div>
            </div>


          </div>
          <div class="col-12 text-right">
            <button type="button"
                    (click)="addDetail()"
                    class="btn btn-success">Добавить деталь
            </button>
          </div>
        </div>
        <hr>

        <div class="row text-right">
          <div class="col-12 text-right">
            <button type="submit"
                    class="btn btn-success">Создать проект
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
