<navbar></navbar>

<main class="page-content">
  <div class="container">
    <div class="row">
      <h5 class="w-100">Создание участка</h5>

      <form class="form create-sector-form w-50">
        <div class="row">
          <div class="col-12 form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Название участка" />
          </div>
        </div>

        <h6 class="w-100">Добавление оборудования</h6>

        <div class="row form-group">
          <div class="col-12">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect04">
                <option value="" disabled selected>Выберете оборудование</option>
                <option value="">Станок 1</option>
                <option value="">Станок 2</option>
                <option value="">Станок ...</option>
                <option value="">Станок 5</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Добавить</button>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row text-right">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-success">Создать участок</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
