<navbar></navbar>

<main class="page-content">
  <div class="container">
    <h5 class="w-100">Создание пользователя</h5>

    <form class="form create-user-form w-75"
          (ngSubmit)="onCreateUser()"
          [formGroup]="createUserForm"
          novalidate
          #createUser="ngForm">
      <div class="row">
        <div class="col-6 form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Имя"
                 formControlName="firstName"
                 name="firstName">
        </div>
        <div class="col-6 form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Фамилия"
                 formControlName="secondName"
                 name="lastName">
        </div>
        <div class="col-6 form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Логин"
                 formControlName="userName"
                 name="login">
        </div>
        <div class="col-6 form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Пароль"
                 formControlName="password"
                 name="password">
        </div>
        <div class="col-6 form-group">
          <select class="form-control"
                  formControlName="role"
                  name="role">
            <option value=""
                    selected
                    disabled>Выберете роль
            </option>
            <option value="technologist">Технолог</option>
            <option value="rate-fixer">Нормировщик</option>
            <option value="master">Мастер</option>
            <option value="customer">Клиент</option>
            <option value="admin">Администратор</option>
          </select>
        </div>
        <div class="col-6 form-group">
          <select class="form-control"
                  formControlName="project"
                  name="projects">
            <option value=""
                    selected
                    disabled>Проекты
            </option>
            <option value="">Проект "A"</option>
            <option value="">Проект "B"</option>
            <option value="">Проект ...</option>
            <option value="">Проект "Z"</option>
          </select>

          <ul class="items-list" *ngIf="false">
            <li class="item">
              <span class="badge badge-primary">
                <span>Проект "A"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
            <li class="item">
              <span class="badge badge-primary">
                <span>Проект "B"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
            <li class="item">
              <span class="badge badge-primary">
                <span>Проект "C"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-6 form-group">
          <select class="form-control"
                  formControlName="department"
                  name="sector">
            <option value=""
                    selected
                    disabled>Участки
            </option>
            <option value="">Участок "A"</option>
            <option value="">Участок "B"</option>
            <option value="">Участок ...</option>
            <option value="">Участок "Z"</option>
          </select>

          <ul class="items-list" *ngIf="false">
            <li class="item">
              <span class="badge badge-primary">
                <span>Участок "A"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
            <li class="item">
              <span class="badge badge-primary">
                <span>Участок "B"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
            <li class="item">
              <span class="badge badge-primary">
                <span>Участок "C"</span>
                <i class="icon"
                   aria-hidden="true">&times;</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row text-right">
        <div class="col-12 text-right">
          <button type="submit"
                  class="btn btn-success">Создать
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
