<navbar></navbar>

<main class="page-content">
  <div class="container">
    <div class="row">
      <h5>Пользователи <a routerLink="/create-user" class="badge badge-success">Создать</a></h5>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Роль</th>
          <th scope="col">Опции</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row">1</td>
          <td>Иван Иванов</td>
          <td>Технолог</td>
          <td>
            <a class="btn btn-link btn-sm" href="">Редактировать</a>
            <a class="btn btn-link text-danger btn-sm" href="">Удалить</a>
          </td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>Петр Петров</td>
          <td>Нормировщик</td>
          <td>
            <a class="btn btn-link btn-sm" href="">Редактировать</a>
            <a class="btn btn-link text-danger btn-sm" href="">Удалить</a>
          </td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td>Василий Васильев</td>
          <td>Мастер</td>
          <td>
            <a class="btn btn-link btn-sm" href="">Редактировать</a>
            <a class="btn btn-link text-danger btn-sm" href="">Удалить</a>
          </td>
        </tr>
        <tr>
          <td scope="row">4</td>
          <td>Дмитрий Дмитриев</td>
          <td>Клиент</td>
          <td>
            <a class="btn btn-link btn-sm" href="">Редактировать</a>
            <a class="btn btn-link text-danger btn-sm" href="">Удалить</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
